/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* Universal Styles */
body {
    background-color: rgb(17, 24, 39); /* bg-gray-900 */
    position: relative;
    overflow-x: hidden;
  }
  
  body::before,
  body::after {
    content: '';
    position: fixed;
    width: 24rem; /* w-96 */
    height: 24rem; /* h-96 */
    filter: blur(100px);
    border-radius: 9999px;
    animation: float 10s infinite ease-in-out alternate;
    z-index: -1;
  
  }
  
  body::before {
    background: rgba(59, 130, 246, 0.3); /* bg-blue-500/30 */
    top: -10rem;
    left: -10rem;
    animation-delay: 0s;
  }
  
  body::after {
    background: rgba(168, 85, 247, 0.3); /* bg-purple-500/30 */
    bottom: -10rem;
    right: -10rem;
    animation-delay: -5s;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(40px) scale(1.1);
    }
  }

